<h2>TOW WAY BINDING  First interface </h2>

<form>
  <label #fname>First name:</label><br>
  <input type="text" id="fname" name="fname"[(ngModel)]="one"><br>

  <label #lname>Last name:</label><br>
  <input type="text" id="lname" name="lname" [(ngModel)]="two"><br>

  <label #job>Job:</label><br>
  <input type="text" id="fname" name="Job" [(ngModel)]="three" ><br>

  <label #job>Image:</label><br>
  <input type="text" id="fname" name="Job" [(ngModel)]="four"><br>

  <label #job>Favorite:</label><br>
  <input type="text" id="fname" name="Job" [(ngModel)]="five"><br>

  <label #job>Décrivez nous votre travail:</label><br>
  <input type="text" id="fname" name="Job" [(ngModel)]="six" ><br>

  <label #job>Mot clé de votre travail:</label><br>
  <input type="text" id="fname" name="Job" [(ngModel)]="seven" ><br>

</form> 





<h2>TOW WAY BINDING  Second interface </h2>

<form>
  <label>First name:</label><br>
  <input type="text" value={{one}} ><br>

  <label>Last name:</label><br>
  <input type="text" value={{two}} ><br>

  <label>Job:</label><br>
  <input type="text" value={{three}} ><br>

  <label>Image:</label><br>
  <input type="text" value={{four}} ><br>

  <label>Image:</label><br>
  <input type="text" value={{five}} ><br>

  <label>Image:</label><br>
  <input type="text" value={{six}} ><br>
  
  <label>Image:</label><br>
  <input type="text" value={{seven}} ><br>
</form> 







  





  

